//Цвета
$la-color: hsla(233, 20%, 83%, 1); //бэкграунд
$btn-color: hsla(233, 66%, 91%, 1); //кнопка
$input-color: hsla(234, 67%, 92% ,1); //поле ввода
$text-color: hsla(233,7%,50%,1); //текст
$bg-card-color: hsla(51, 7%, 92%, 1); //фон карточки
$light-el-bg-color: hsla(233, 66%, 91%, 1); //фон верхнего элемента


$bxsh: -9px -9px 16px hsla(228, 48%, 93%, 1), 9px 9px 16px hsla(228, 15%, 70%, 1); // тень

$bxsh-inner: inset 9px 9px 16px hsla(228, 15%, 70%, 1),  inset -9px -9px 16px hsla(228, 36%, 88%, 1); // тень внутренняя

$bdrs: 7px; //скругление границ
$border: 1px solid hsla(0, 0%, 100%, 0.4); //границы