//Цвета
$la-color: hsla(233, 20%, 83%, 1); //бэкграунд
$btn-color: hsla(233, 66%, 91%, 1); //кнопка
$input-color: hsla(234, 67%, 92% ,1); //поле ввода
$text-color: hsla(233,7%,50%,1); //текст
$bg-card-color: hsla(51, 7%, 92%, 1); //фон карточки
$light-el-bg-color: hsla(233, 66%, 91%, 1); //фон верхнего элемента


$bxsh-down: 9px 9px 16px hsla(228, 48%, 93%, 1); // тень нижняя внешняя
$bxsh-up: -9px -9px 16px hsla(228, 15%, 70%, 1); // тень верхняя внешняя

$bxsh-down-inner: inset 9px 9px 16px hsla(228, 15%, 70%, 1); // тень нижняя внутренняя
$bxsh-up-inner: inset -9px -9px 16px hsla(228, 36%, 88%, 1); // тень верхняя внутренняя

$bdrs: 7px; //скругление границ
$border: 1px solid hsla(0, 0%, 100%, 0.4); //границы